@model Ocuda.Ops.Controllers.Areas.Events.ViewModels.IndexViewModel

<div class="d-flex justify-content-between mb-2">
    <h1>
        Events
    </h1>
    <div class="pt-2">
        <a class="btn btn-outline-dark"
           asp-controller="@Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Index))">Back</a>
    </div>
</div>

@if (Model.ScheduledEvents?.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
                <th>Registrations</th>
                <th>Published</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scheduledEvent in Model.ScheduledEvents)
            {
                <tr>
                    <td>
                        <a asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.Events.HomeController.Details))"
                           asp-route-id="@scheduledEvent.Id">
                            @scheduledEvent.Title
                        </a>
                    </td>
                    <td>
                        @scheduledEvent.StartDate
                    </td>
                    <td>
                        <a asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.Events.HomeController.ViewParent))"
                           asp-route-id="@scheduledEvent.Id">
                            @scheduledEvent.ScheduledEventType
                        </a>
                    </td>
                    <td>
                        @if (scheduledEvent.MaxPeople > 0)
                        {
                            @(scheduledEvent.RegistrationCount ?? 0)
                            @:/
                            @scheduledEvent.MaxPeople
                        }
                        else
                        {
                            @:&nbsp;
                        }
                    </td>
                    <td>
                        @if (scheduledEvent.IsPublished)
                        {
                            <span class="fa-regular fa-circle-check text-success"></span>
                        }
                        else
                        {
                            if (scheduledEvent.PublishOn.HasValue)
                            {
                                <span class="fa-regular fa-clock"
                                      title="Scheduled to publish at @scheduledEvent.PublishOn"></span>
                            }
                            else
                            {
                                <span class="fa-regular fa-circle-xmark"></span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav paginate="@Model"></nav>
}
else
{
    <div class="row">
        <div class="col">
            <div class="alert alert-warning">No events found.</div>
        </div>
    </div>
}

@section scripts {
}