@using Ocuda.Ops.Controllers.Areas.Programs.ViewModels
@model DetailsViewModel

<div class="d-flex justify-content-between mb-2">
    <h1>
        Programs <small>@Model.LibraryProgram.Title</small>
    </h1>
    <div class="pt-2">
        <a class="btn btn-outline-dark"
           asp-controller="@Ocuda.Ops.Controllers.Areas.Programs.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.Programs.HomeController.Index))">Back</a>
    </div>
</div>
<div class="row">
    <form>
        <input type="hidden" asp-for="LibraryProgram.Id" />
        <div class="form-floating mb-2 pt-1">
            <input type="text" class="form-control" value="@Model.LibraryProgram.Title" disabled />
            <label asp-for="LibraryProgram.Title"></label>
        </div>
        <div class="row">
            <div class="col">
                <div class=" form-floating mb-2 pt-1">
                    <input type="date" class="form-control" asp-for="LibraryProgram.StartDate" />
                    <label asp-for="LibraryProgram.StartDate"></label>
                </div>
            </div>
            <div class="col">
                @if (Model.LibraryProgram.IsAllDay)
                {
                    <div class="form-floating mb-2 pt-1">
                        <a class="btn btn-outline-dark form-control" id="durationSwitch" href="#">Click to enter a duration</a>
                        <label for="durationSwitch">Program is all day</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-2 pt-1">
                        <input type="number" class="form-control" asp-for="LibraryProgram.DurationMinutes" />
                        <label asp-for="LibraryProgram.DurationMinutes"></label>
                    </div>
                }
            </div>
        </div>
        <div class="form-floating mb-2 pt-1">
            <textarea class="form-control" style="height: 7rem;" disabled>@Model.LibraryProgram.Description</textarea>
            <label asp-for="LibraryProgram.Description"></label>
        </div>
        <div class="form-floating mb-2 pt-1">
            <select class="form-select" asp-for="RegistrationChoice">
                <option value="None">Registration not required</option>
                <option value="Customer">Customers register on Web site</option>
                <option value="Staff">Only staff can register customers</option>
            </select>
            <label asp-for="RegistrationChoice"></label>
        </div>
    </form>
</div>
